* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: bold;
    background-color: #f3f4f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

header {
    margin-bottom: 2rem;
    text-align: center;
}

h1 {
    font-size: rem;
    color: #3f5f9e;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-container {
    padding: 5rem 3rem 5rem 3rem; 
    border-radius: 10px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

.icon {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-group input {
    padding: 10px 35px 10px 10px;
    padding: 0.8rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: 0 10px 0px rgba(0, 0, 0, 0.1);
}
.form-group i {
    position: absolute;
    right: 10px; /* Coloca el ícono a la derecha del input */
    top: 50%;
    transform: translateY(-50%);
    color: #000000;
    pointer-events: none; /* Hace que el ícono no sea clickeable */
}

button {
    padding: 0.8rem;
    background-color: #4f6df7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3d57c5;
}

/* Estilos específicos para desktop */
@media (min-width: 1024px) {
    header {
        margin-bottom: 3rem;
    }

    h1 {
        font-size: 2.5rem;
    }


    .login-container {
        
        padding: 3rem 4rem;
        width: 450px;
    }

    input, button {
        font-size: 1.2rem;
        padding: 1rem;
    }

    .icon {
        font-size: 4rem;
        margin-bottom: 2rem;
    }
}





